/* Palette 1*/
.color-1 {
  width: 240px;
  height: 60px;
  background-color: #973342;
}

.color-2 {
  width: 240px;
  height: 60px;
  background-color: #a34b58;
}

.color-3 {
  width: 240px;
  height: 60px;
  background-color: #ae636e;
}

/* Palette 2*/
.color-4 {
  width: 240px;
  height: 60px;
  background-color: #1d3360;
}

.color-5 {
  width: 240px;
  height: 60px;
  background-color: #364a72;
}

.color-6 {
  width: 240px;
  height: 60px;
  background-color: #4f6083;
}

/* Palette 3*/
.color-7 {
  width: 240px;
  height: 60px;
  background-color: #389347;
}

.color-8 {
  width: 240px;
  height: 60px;
  background-color: #54a060;
}

.color-9 {
  width: 240px;
  height: 60px;
  background-color: #6fac79;
}

/* Palette 4*/
.color-10 {
  width: 240px;
  height: 60px;
  background-color: #d5783a;
}

.color-11 {
  width: 240px;
  height: 60px;
  background-color: #d88953;
}

.color-12 {
  width: 240px;
  height: 60px;
  background-color: #dfaa86;
}

/* Palette 5*/
.color-13 {
  width: 240px;
  height: 60px;
  background-color: #e19f3b;
}

.color-14 {
  width: 240px;
  height: 60px;
  background-color: #dcaa59;
}

.color-15 {
  width: 240px;
  height: 60px;
  background-color: #d7b577;
}