.description-title {
  width: 80%;
  margin: auto;
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: #b3b3b3;
  position: relative;
  text-align: center;
  top: 140px;
}