.main {
  text-align: center;
  position: relative;
  top: 160px;
  width: 100%;
  height: auto;
}

.description-title {
  display: block;
  width: 60%;
  margin: auto;
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: #b3b3b3;
  text-align: center;
}

.small-description {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: white;
  margin-top: 100px;
  margin-bottom: 80px;
}

.grid-container {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 112px;
  justify-items: center;
}

.palette-container {
  display: grid;
  border: 1px solid #b3b3b3;
}

.palette-container {
  border-radius: 8px;
  overflow: auto;

}